

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      
    }

    form {
        max-width: 400px;
        margin: 50px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      margin-top: 30px;
        text-align: center;
        
    }

    table {
        width: 100%;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0 16px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #28a745;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #218838;
    }

    @media (max-width: 500px) {
        form {
            margin: 20px;
            padding: 15px;
        }
    }
</style>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 <body>
    <h2>Login</h2>
    <form  method="post">
       {% csrf_token %}
 
       <table>
          {{login_form.as_table}}
       </table>
 
       <input type="submit" value="Entrar">
    </form>

 </body>

{% endblock %}